<header>
  <nav>
    <div id="header">
      <a href="/" class="nav-buttons" style="text-decoration: none">Home</a>

      <a href="/gen_ai" class="nav-buttons" style="text-decoration: none"
        >Gen AI</a
      >

      <a href="/gaming" class="nav-buttons" style="text-decoration: none"
        >Gaming</a
      >

      <a href="/productivity" class="nav-buttons" style="text-decoration: none"
        >Productivity</a
      >
      <button id="post-button"><a href="/add-post"> POST</a></button>
    </div>
  </nav>
</header>
