<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPU Blog</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <%-include("./partials/header")%>
    <h1 style="text-align: center"><%=obj[0]%></h1>
    <div style="height: 50vh; margin-top: 40px">
      <p style="text-align: center" id="post-text"><%=obj[1]%></p>
    </div>
    <%-include("./partials/footer")%>
  </body>
</html>
